ul {
  padding: 0px;
  margin: 0px;
}
li {
  list-style-type: none;
}
button:hover {
  opacity: 0.8;
}

.ChatItem li {
  display: flex;
  justify-content: space-between;
  height: 70px;
  list-style-type: none;
  border: 2px solid #383649;
  background-color: #3d3b50;
  padding: 10px;
  cursor: pointer;
}
.ChatItem li button {
  width: 80px;
  height: 30px;
  transition: width 0.2s ease-out, height 0.2s ease-out;
}
.ChatItem li:hover button {
  width: 90px;
  height: 40px;
}
.ChatItem .listChatMain {
  align-self: flex-start;
  flex-grow: 1;
}
.ChatItem .listChatButton {
  align-self: center;
}
.ChatItem .listChatMain .listChatName {
  font-size: 1em;
  font-weight: bold;
}
.ChatMainMessages {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ChatItem .listChatMain .listChatDescription {
  max-width: 260px;
  font-size: 0.7em;
  opacity: 0.4;
  overflow: hidden;
  word-wrap: break-word;
  margin: 10px 0px 5px 0px;
}
.ChatItem .listChatMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

/* HEADER OF LIST CHAT */
.ChatWrapper .ListChat .header-listChat {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #383649;
  align-items: center;
  color: #fcfdff;
}
.ChatWrapper .ListChat .header-listChat h1 {
  font-size: 1em;
  margin-bottom: 5px;
}
.ChatWrapper .ListChat .header-listChat h2 {
  font-size: 0.8em;
  margin-top: 0px;
}
.ChatMainMessages .ChatHeader h1 {
  font-size: 1em;
  padding: 15px;
  font-weight: bold;
}
/* HEADER OF CHAT FRAM */
.ChatMainMessages .ChatHeader {
  background-color: #fcfdff;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ChatMainMessages .ChatHeader h1 {
  font-size: 1em;
  padding: 15px;
  font-weight: bold;
}

/* CHAT FRAME */
.ChatMainMessages .ChatContent {
  background-color: #f1f0f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ChatMainMessages .ChatMessages {
  overflow-y: scroll;
  padding: 5px 10px 5px 10px;
}
.ChatMainMessages .ChatContent {
  height: 90%;
}
.ChatMainMessages form {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}
.ChatMainMessages form input {
  flex-grow: 1;
  margin: 0px 15px 15px 15px;
  height: 30px;
  box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.66);
  border: 1px solid #cececf;
  padding: 5px 10px 5px 10px;
}
.ChatMainMessages form input:focus {
  outline: none;
}

.ChatMainMessages .back {
  align-self: center;
  margin-top: 30px;
}
