.HomeMain {
  width: 100%;
  height: 800px;
}

.HomeMain h2 {
  font-size: 1.2em;
}
button {
  font-weight: bold;
}
.HomeButtons {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.HomeButtons button {
  height: 50px;
  width: 70px;
}
.HomeButtons .HomeButtonCreate {
  width: 120px;
}
.HomeMain {
  margin-top: 2%;
  height: 680px;
}
.HomeMain .ChatWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.6);
  min-width: 380px;
  overflow: hidden;
  width: 100%;
}
.HomeMain .ListChat {
  height: 630px;
  background-color: #3d3b50;
  color: #f1f0f5;
  width: 0;
  overflow-y: hidden;
  color: #383649;
  flex-shrink: 0;
  transition: width 0.2s ease-out, color 0.1s ease-out;
}
.ListChat.open {
  width: 375px;
  color: #fcfdff;
}
.ListChat.scrollable {
  overflow-y: scroll;
}
.HomeMain .ChatFrame {
  width: 100%;
  height: 630px;
}

@media screen and (max-width: 1000px) {
  .HomeMain .ChatFrame {
    width: 90%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.6);
  }
  .HomeMain .ChatWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    padding: 30px 0px 30px 0px;
  }
  .HomeMain .ListChat {
    max-width: 450px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
    color: #fcfdff;
  }
}
