.HomeMain {
  width: 100%;
  height: 800px;
}

.HomeMain h2 {
  font-size: 1.2em;
}
button {
  font-weight: bold;
}
.HomeButtons {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.HomeButtons button {
  height: 50px;
  width: 70px;
}
.HomeButtons .HomeButtonCreate {
  width: 120px;
}
.HomeMain {
  margin-top: 5%;
  height: 680px;
}
.HomeMain .ChatWrapper {
  display: flex;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.6);
}
.HomeMain .ListChat {
  height: 600px;
  background-color: #3d3b50;
  color: #f1f0f5;
  flex: 1;
  overflow-y: scroll;
}
.HomeMain .ChatFrame {
  height: 600px;
  flex: 1.5;
}
