/* FONT */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  padding: 0px;
  background-color: #f1f0f5;
  font-family: "Open sans", sans-serif;
  font-size: 15px;
}

#root {
  display: flex;
  justify-content: center;
  max-width: 1024px;
  width: 100%;
  margin: auto;
}
button {
  border-radius: 10px;
  background-color: #383649;
  color: white;
  border: 1px solid #383649;
  cursor: pointer;
  outline: none;
  height: 50px;
  width: 70px;
}
