body {
  padding: 0px;
  background-color: #f6f7fb;
  font-family: sans-serif;
  font-size: 16px;
}

#root {
  display: flex;
  justify-content: center;
  max-width: 1024px;
  width: 100%;
  margin: auto;
}
button {
  border-radius: 10px;
  background-color: #2a192a;
  color: white;
  border: 1px solid #2a192a;
  cursor: pointer;
  outline: none;
  height: 50px;
  width: 70px;
}
