.signupMain {
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-content {
  border: 1px solid #adadad;
  border-radius: 5px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px -6px rgba(0, 0, 0, 0.66);
  background-color: white;
}
.form-content form {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-content h1 {
  font-size: 1.3em;
}
.form-content h2 {
  font-size: 1.5em;
  margin-bottom: 0px;
}
.signupMain .form-content form input {
  width: 320px;
  height: 30px;
  margin: 10px 0px 10px 0px;
  border: 0.5px solid #bcbcbc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  font-size: 1em;
  background-color: #f1f0f5;
}
.signupMain .form-content form input:focus {
  outline: none;
  border: 1.2px solid #383649;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.form-content-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.form-content-button button {
  width: 200px;
}
.signup-signupButton a {
  text-decoration: none;
  font-size: 1em;
  color: #383649;
}
.signup-signupButton a:hover {
  opacity: 0.6;
}
.incorrect-password {
  color: red;
  font-size: 0.8em;
  font-weight: bold;
}
.signup-signupButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #f1f0f5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.signupMain .icon-signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signupMain .icon-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 35px;
  background-color: #f1f0f5;
  border: 0.5px solid #bcbcbc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.signupMain svg {
  font-size: 1.2em;
}
